<h2>More information about {{model.owner}}'s {{model.type}}</h2>


<!-- DISPLAY UPDATE FORM HERE -->
{{update-rental rental=model update="update"}}
<!--
 |                                    |
 |                                    |
 |                                    |
 ___________-__________________________ -->




<!-- Display image and delete button here -->

  {{rental-detail rental=model destroyRental="destroyRental"}}
<!--
 |                                    |
 |                                    |
 |                                    |
 ___________-__________________________ -->
